include common.pug

//- icon grid
section(class="features-icons bg-light text-center")
    .container
        .row
            .col-lg-4
                +feature_icon("icon-screen-desktop", "Fully responsive", "This theme will look great on any device, no matter the size!")

            .col-lg-4
                +feature_icon("icon-layers", "Bootstrap 4 Ready", "Featuring the latest build of the new Bootstrap 4 framework!")

            .col-lg-4
                +feature_icon("icon-check", "Easy to Use", "Ready to use with your own content, or customize the source files!")

//- image showcase
section.showcase
    +showcase("Fully Responsive Design", "When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!", "background-image: url('img/bg_showcase_1.jpg');")

    +reverse_showcase("Updated For Bootstrap 4", "Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!", "background-image: url('img/bg_showcase_2.jpg');")

    +showcase("Easy to Use &amp; Customize", "Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!", "background-image: url('img/bg_showcase_3.jpg');")

section.testimonials(class="text-center bg-light")
    .container
        h2.mb-5 What people are saying ...
            .row
                +testimonials("Margaret E.","This is fantastic! Thanks so much guys!",'img/testimonials_1.jpg')

                +testimonials("Fred S.","Bootstrap is amazing. I've been using it to create lots of super nice landing pages.",'img/testimonials_2.jpg')

                +testimonials("Sarah W.","Thanks so much for making these free resources available to us!",'img/testimonials_3.jpg')


section.call-to-action(class="text-white text-center")
    +call-to-action("Ready to get started? Sign up now!", "Sign up!")
